* {
  margin: 0; 
  padding: 0;
  /* overflow-x: hidden;
  max-width: 100%; */
  background-color: #D9D9D9;
}
body {
  overflow-x: hidden;
}
.header  {
  padding: 15px 25px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  position: sticky;
  top: 0;
}
.menu, .search  {
  filter: invert(30%) sepia(4%) saturate(2556%) hue-rotate(29deg) brightness(97%) contrast(85%);
  width: 30px;
  background-color: transparent;
  transition: 0.15s ease-in-out all;
}
.menu:hover  {
  filter: invert(56%) sepia(8%) saturate(617%) hue-rotate(22deg) brightness(91%) contrast(82%);
  scale: 1.05;
}
.logo {
  filter: invert(30%) sepia(4%) saturate(2556%) hue-rotate(29deg) brightness(97%) contrast(85%);
  width: 100px;
  background-color: transparent;
}
.landingTextContainer  {
  background-color: rgba(255, 255, 255, 0);
  display: inline-flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 2.5px;
}
.landingHeader  {
  font-family: 'Retroica';
  color: #FFF;
  font-size: 48px;
  background-color: transparent;
}
.landingButton  {
  width: 8em;
  font-size: 20px;
  border: 0;
  background-color: #535641;
  padding: 10px 0;
  color: #FFF;
  font-size: 15px;
  margin-top: 2em;
  border-radius: 5px;
  font-family: 'HM-Sans';
  transition: 0.15s ease-in-out all;
}
.landingButton:hover  {
  scale: 1.05;
  opacity: .6;
}
.landingContainer  {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  background-image: url('../home/static/bgPic.jpeg');
  background-size: cover;
  position: relative;
  top: -125px;
  height: 90vh;
  width: 100vw;
}
.sitemap  {
  width: 100%;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
}
.sitemapText  {
  font-size: 10px;
  font-family: 'HM-Sans';
  background-color: #D9D9D9;
  color: #535641;
}
.productContainer  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
  padding: 50px 0px;
  position: relative;
  top: -175px;
  border-radius: 56px 56px 0px 0px;
}
.productHeader  {
  font-family: 'Retroica';
  font-size: 40px;
  color: #535641;
  background-color: #D9D9D9;
  align-self: center;
}
.productSubHeader  {
  font-family: 'HM-Sans';
  font-size: 20px;
  padding-top: 10px;
  opacity: .6;
  color: #535641;
  background-color: #D9D9D9;
  align-self: center;
}
.itemContain  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 5em 55px 0px 55px;
}
.item  {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  justify-content: center;
  align-items: center;
  transition: 0.35s ease-in-out all;
  border-radius: 2.5px;
}
.item:hover  {
  scale: 1.05;
}
.button  {
  width: 5em;
  height: 5em;
}
.itemPic {
  width: 100%;
  pointer-events: none;
  margin-bottom: 1.5em;
}
.itemName  {
  color: #535641;
  font-family: 'HM-Sans';
  font-size: 15px;
  align-self: stretch;
}
.itemPrice  {
  color: #535641;
  font-family: 'HM-Sans';
  font-size: 13px;
  opacity: .75;
  align-self: stretch;
}
.opacity  {
  width: 100%;
  height: 100%;
  background-color: rgba(83, 86, 65, 0.8);
  position: fixed;
  z-index: 2;
  display: none;
  transition: 0.15s ease-in-out all;
}
.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  background-color: #e0c9a7;
  width: 60%;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 25px;
  border-radius: 2.5px;
  transition: 0.5s ease-in-out all;
}
.modalHeader  {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.modalIcon, .sidenavIcon  {
  fill: transparent;
  width: 20px;
  transition: 0.15s ease-in-out all;
}
.modalIcon:hover, .sidenavIcon:hover  {
  opacity: .6;
}
.modalContainer  {
  display: flex;
  flex-direction: row;
}
.modalPic {
  width: 100%;
  background-color: #e0c9a7;
  pointer-events: none;
}
.modalName  {
  color: #535641;
  font-family: 'HM-Sans';
  font-size: 25px;
  background-color: #e0c9a7;
}
.modalPrice  {
  color: #535641;
  font-family: 'HM-Sans';
  font-size: 13px;
  opacity: .75;
  background-color: #e0c9a7;
}
.modalDesc  {
  color: #535641;
  font-family: 'HM-Sans';
  font-size: 13px;
  opacity: .75;
  background-color: #e0c9a7;
  padding-top: 20px;
}
.modalLeftContain  {
  background-color: #e0c9a7;
  flex: 1;
  margin-right: 10px
}
.modalRightContain  {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #e0c9a7;
  margin: 0px 0px 10px 10px;
  justify-content: space-between;
}
.modalDataContain  {
  display: flex;
  flex-direction: column;
}
.modalDataHeaderContain  {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.modalButton {
  border: 0;
  background-color: #535641;
  color: #e0c9a7;
  padding: 5px 0;
  font-size: 13px;
  margin-top: 2em;
  border-radius: 5px;
  font-family: 'HM-Sans';
  transition: 0.15s ease-in-out all;
}
.modalButton:hover  {
  scale: 1.05;
  opacity: .6;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #e0c9a7;
  overflow-x: hidden; 
  transition: 0.15s ease-in-out all;
}
.closeContain  {
  display: flex;
  justify-content: flex-end;
}
.linkContain  {
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}
.link  {
  padding-bottom: 25px;
  color: #535641;
  font-family: 'HM-Sans';
  text-decoration: none;
  transition: 0.15s ease-in-out all;
}
.link:hover  {
  margin-left: 10px;
  color: #535641;
  opacity: .75;
}
.searchBox  {
  display: flex;
  flex-direction: row;
  align-content: center;
  transition: 0.5s ease-in-out all;
}
.box  {
  border: 0;
  outline: 0;
  width: 0;
  color: #535641;
  font-family: 'HM-Sans';
  transition: 0.5s ease-in-out all;
}
.searchBox:hover .search  {
  filter: invert(56%) sepia(8%) saturate(617%) hue-rotate(22deg) brightness(91%) contrast(82%);
  scale: 1.05;
}
.searchBox:hover .box  {
  width: 100%;
}
.searchBox:hover  {
  border-bottom: #858573 3px solid;
}
.seeMoreButton  {
  border: 0;
  width: 8em;
  background-color: #535641;
  padding: 8px;
  color: #FFF;
  font-size: 15px;
  margin-top: 2em;
  border-radius: 5px;
  font-family: 'HM-Sans';
  transition: 0.15s ease-in-out all;
  align-self: center;
}

@media screen and (max-width: 850px) {
  .landingHeader  {
    font-size: 35px;
  }
  .itemContain  {
    flex-direction: column;
  }
  .item  {
    margin-bottom: 35px;
  }
  .modalName  {
    font-size: 15px;
  }
  .modal  {
    width: 80%;
  }
  .header  {
    padding: 25px;
  }
}
@media screen and (max-width: 450px) {
  .landingHeader  {
    font-size: 25px;
  }
}