*{
    /* margin: 0; 
    padding: 0; */
    /* overflow-x: hidden;
    max-width: 100%; */
    /* background-color: #e0c9a7; */
  }
  .header  {
    /* padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0c9a7;
    z-index: 1;
    position: sticky;
    top: 0; */
  }
  /* .menu, .search  {
    filter: invert(30%) sepia(4%) saturate(2556%) hue-rotate(29deg) brightness(97%) contrast(85%);
    width: 30px;
    background-color: transparent;
    transition: 0.15s ease-in-out all;
  }
  .menu:hover  {
    filter: invert(56%) sepia(8%) saturate(617%) hue-rotate(22deg) brightness(91%) contrast(82%);
    scale: 1.05;
  }
  .logo {
    filter: invert(30%) sepia(4%) saturate(2556%) hue-rotate(29deg) brightness(97%) contrast(85%);
    width: 55px;
    background-color: transparent;
  }
  .sidenavIcon  {
    fill: transparent;
    width: 20px;
    transition: 0.15s ease-in-out all;
  }
  .sidenavIcon:hover  {
    opacity: .6;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #e0c9a7;
    overflow-x: hidden; 
    transition: 0.15s ease-in-out all;
  }
  .closeContain  {
    display: flex;
    justify-content: flex-end;
  }
  .linkContain  {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
  }
  .link  {
    padding-bottom: 25px;
    color: #535641;
    font-family: 'HM-Sans';
    text-decoration: none;
    transition: 0.15s ease-in-out all;
  }
  .link:hover  {
    margin-left: 10px;
    color: #535641;
    opacity: .75;
  }
  .searchBox  {
    display: flex;
    flex-direction: row;
    align-content: center;
    transition: 0.5s ease-in-out all;
  }
  .box  {
    border: 0;
    outline: 0;
    width: 0;
    color: #535641;
    font-family: 'HM-Sans';
    transition: 0.5s ease-in-out all;
  }
  .searchBox:hover .search  {
    filter: invert(56%) sepia(8%) saturate(617%) hue-rotate(22deg) brightness(91%) contrast(82%);
    scale: 1.05;
  }
  .searchBox:hover .box  {
    width: 100%;
  }
  .searchBox:hover  {
    border-bottom: #858573 3px solid;
  }
  .errorContain  {
    height: 90vh;
    
  } */

  /* @media screen and (max-width: 850px) {
    .header  {
      padding: 25px;
    }
  } */